<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryAndUserCards.Properties.Settings.libraryMyConnectionString"
            connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=libraryMy"
            providerName="MySql.Data.MySqlClient" />
        <add name="LibraryAndUserCards.Properties.Settings.db" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibraryAndUserCards.Properties.Settings.mydb" connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=mydb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>